h1{
    font-size: 80px ;
    padding-right: 65%;
    padding-top: 8%;
    line-height: 70%;
}
.name{
    font-size: 50px;
    padding-right:46%;
    line-height: 8%;
}
.hi{
    padding-right: 50%;
    font-size: 25px;


}
.hlo{
    font-size: 25px;
    padding-right: 35%;
    line-height: 8%;
}